/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 62.5%;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: #000000;
    z-index: 1;
}

#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .search-button:hover {
    cursor: pointer;
    background-color: #f44336!important;
}

#header .fa-search {
    color: #ffffff;
    font-size: 13px;
    line-height: 46px;
}

#nav, .subnav {
    display: inline-block;
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    font-size: 1.5rem;
    display: block;
}

#nav .fa-sort-down {
    font-size: 20px;    
}

#nav li:hover .subnav {
    display: block;

}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000 !important;
    background-color: #ccc !important;
}

#nav .subnav {
    display: none; 
    position: absolute;
    min-width: 160px;
    top: 46.5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color:#ffffff;
    bottom: 48px;
    width: 100%;
    text-align: center;
}

#slider .text-head {
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 10px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 15px;
}

#content {
    margin-top: 50px;
}

#content .content-section {
    width: 800px;
    padding: 64px 16px ;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    opacity: 0.6;
    margin-top: 25px;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}

#footer {

}
