/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 62.5%;
}

.text-white {
    color: #ffff !important;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: #000000;
    z-index: 1;
}

#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .search-button:hover {
    cursor: pointer;
    background-color: #f44336!important;
}

#header .fa-search {
    font-size: 13px;
    line-height: 46px;
}

#nav, .subnav {
    display: inline-block;
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    font-size: 1.5rem;
    display: block;
}

#nav .fa-sort-down {
    font-size: 20px;    
}

#nav li:hover .subnav {
    display: block;

}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000 !important;
    background-color: #ccc !important;
}

#nav .subnav {
    display: none; 
    position: absolute;
    min-width: 160px;
    top: 46.5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
}

#slider .text-head {
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 10px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 15px;
}

#content {
}

#content .content-section {
    width: 800px;
    padding: 64px 16px ;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    opacity: 0.6;
    margin-top: 25px;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 48px;
    overflow: hidden;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

#content .member-item {
    float: left;
    width: 33.333333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    
    
}

#content .member-avatar {
    width: 60%;
    margin-top: 15px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
    width: 100%;
}

.tickets-list {
    background-color: #ffffff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #dddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336!important;
    padding: 2px 7px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

.places-list {
    margin: 32px -8px 0px;
    overflow: hidden;
    padding-bottom: 48px;
}

.places-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #ffff;
    padding: 16px;
}

.place-heading {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.place-time {
    font-size: 15px;
    opacity: 0.6;
    margin-bottom: 15px;
}

.place-dsc {
    font-size: 15px;   
    margin-bottom: 15px;
}

.place-buy-ticket {
    display: inline-block;
    font-size: 15px;
    color: #ffff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 16px;
    margin-top: 16px;
}

.place-buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}

.contact-section {
    background-color: #fff;
    width: 100%;
    
}

.contact-information {
    float: left;
    width: 50%;
    margin-bottom: 16px;
}

.fas {
    display: inline-block;
}

.contact-location {

}


.contact-phone {

}



#footer {

}
